.App {
  text-align: center;
  width: 100%;
}

.nav-item .active {
  font-weight: bold; 
}

/*.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}*/


